<template>
  <div class="gameSetup animate__animated animate__bounceInDown">
    <h1>Trivia Game</h1>
    <div>
      <div>
        <h4>Difficulty</h4>
        <div class="custom-select">
          <select @change="onDifficultyChange">
            <option selected value="">Any</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
          </select>
          <span class="focus"></span>
        </div>
      </div>
      <div>
        <h4>No. of questions</h4>
        <div class="custom-select">
          <select @change="onQuestionAmountChange">
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
          <span class="focus"></span>
        </div>
      </div>
      <div>
        <h4>Category</h4>
        <div>
          <select @change="onCategoryChange">
            <option value="" selected>Any</option>
            <CategoryItem
              v-for="gameCategory in getGameCategories"
              :gameCategory="gameCategory"
              :key="gameCategory.id"
            />
          </select>
          <span class="focus"></span>
        </div>
      </div>
      <div class="startButtonDiv">
        <button type="button" class="startButton" @click="onStartQuizClick">
          Start Quiz!
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
import CategoryItem from "@/components/GameSetup/CategoryItem";
export default {
  name: "GameSetup",
  components: {
    CategoryItem,
  },
  methods: {
    ...mapActions(["fetchCategories", "fetchGameQuestions"]),
    ...mapMutations([
      "setGameCategoryId",
      "setGameDifficulty",
      "setGameAmountOfQuestions",
      "toggleGameSetupFinished",
    ]),
    onCategoryChange(event) {
      this.setGameCategoryId(event.target.value);
    },
    onDifficultyChange(event) {
      this.setGameDifficulty(event.target.value);
    },
    onQuestionAmountChange(event) {
      this.setGameAmountOfQuestions(event.target.value);
    },
    onStartQuizClick() {
      this.fetchGameQuestions();
      this.toggleGameSetupFinished();
      this.$router.push("/game");
    },
  },
  computed: {
    ...mapGetters(["getGameCategories", "getGameSetupFinished"]),
  },
  created() {
    if (this.getGameSetupFinished) {
      this.$router.push("/game");
    }
    this.fetchCategories();
  },
};
</script>

<style scoped>
h1 {
  margin-top: 0px;
  margin-bottom: 5px;
}
h4 {
  margin-bottom: 2px;
}

select {
  width: 100%;
  height: 40px;
  font-size: 100%;
  cursor: pointer;
  border-radius: 0px;
  background-color: #4f86c6;
  border: none;
  border-bottom: 2px solid #000;
  color: white;
  padding: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: color 0.3s ease, background-color 0.3s ease,
    border-bottom-color 0.3s ease;
}

.startButtonDiv {
  margin-top: 15px;
}
.startButton {
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  color: #111;
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 0.8em;
}

.startButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.startButton:active {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}

.startButton:active:after {
  background: transparent;
}

.startButton:hover:before {
  opacity: 1;
}

.startButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.gameSetup {
  align-self: center;
  width: 20vw;
  margin-top: 10%;
  background-color: #84dccf;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
</style>
