<template>
  <div
    class="game animate__animated animate__bounceInDown"
    v-if="!getLoadingQuestions"
  >
    <div>
      <h4 v-html="getGameQuestions[getCurrentGameQuestion].question"></h4>
    </div>
    <div class="container">
      <button
        class="button"
        @click="onAnswerClick"
        v-for="(answer, index) in getGameQuestions[getCurrentGameQuestion]
          .answers"
        :key="answer.index"
        v-html="getGameQuestions[getCurrentGameQuestion].answers[index]"
      ></button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
export default {
  name: "Game",
  computed: {
    ...mapGetters([
      "getGameQuestions",
      "getCurrentGameQuestion",
      "getLoadingQuestions",
      "getGameSetupFinished",
      "getGameIsActive",
      "getQuestionAnswers",
    ]),
  },
  methods: {
    ...mapActions(["shuffleAnswers"]),
    ...mapMutations([
      "addUserAnswer",
      "setNextGameQuestion",
      "toggleGameIsActive",
      "shuffleAnswers",
    ]),
    onAnswerClick(event) {
      this.addUserAnswer(event.target.textContent);
      if (this.getGameQuestions.length - 1 == this.getCurrentGameQuestion) {
        this.toggleGameIsActive();
        this.$router.push("/gameResult");
      } else {
        this.setNextGameQuestion();
      }
    },
  },
  created() {
    if (!this.getGameSetupFinished) {
      this.$router.push("/");
    } else if (!this.getGameIsActive) {
      this.$router.push("/gameResult");
    }
  },
};
</script>

<style scoped>
.game {
  align-self: center;
  width: 35vw;
  margin-top: 10%;
  background-color: #84dccf;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  margin: 15px;
  font-size: 0.8em;
  width: 40%;
  align-self: center;
}
</style>
