<template>
  <div class="gameResult animate__animated animate__bounceInDown">
    <div>
      <h2>Results</h2>
      <span
        >Total Score: {{ this.getTotalScore }} out of
        {{ this.getGameQuestions.length * 10 }}</span
      >
    </div>
    <div v-for="(question, index) in getGameQuestions" :key="index">
      <p v-html="question.question" />
      <div class="tables">
        <table>
          <tr>
            <th>Correct Answer</th>
            <th>Your Answer</th>
          </tr>
          <tr>
            <td v-html="question.correct_answer" />
            <td v-html="getUserAnswers[index]" />
          </tr>
        </table>
      </div>
      <hr />
    </div>
    <div>
      <button class="button" @click="onNewGameClick">New Game</button>
      <button class="button" @click="onReplayClick">Replay</button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
export default {
  name: "GameResult",
  computed: {
    ...mapGetters([
      "getGameQuestions",
      "getGameSetupFinished",
      "getUserAnswers",
      "getTotalScore",
    ]),
  },
  methods: {
    ...mapActions(["fetchGameQuestions"]),
    ...mapMutations([
      "toggleGameSetupFinished",
      "toggleGameIsActive",
      "setCurrentGameQuestion",
      "resetUserAnswer",
    ]),
    onNewGameClick() {
      this.resetUserAnswer();
      this.setCurrentGameQuestion(0);
      this.toggleGameSetupFinished();
      this.toggleGameIsActive();
      this.$router.push("/");
    },
    onReplayClick() {
      this.resetUserAnswer();
      this.setCurrentGameQuestion(0);
      this.toggleGameIsActive();
      this.fetchGameQuestions();
      this.$router.push("/game");
    },
  },
  created() {
    if (!this.getGameSetupFinished) {
      this.$router.push("/");
    }
  },
};
</script>

<style scoped>
.gameResult {
  align-self: center;
  width: 35vw;
  margin-top: 1%;
  background-color: #84dccf;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

table {
  border-collapse: collapse;
  width: 75%;
  margin: auto;
}
td,
th {
  text-align: center;
  padding: 5px;
}

hr {
  border: 0;
  height: 1px;
  background: #000;
}

.button {
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  color: #111;
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 0.8em;
  margin: 10px;
}

.button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.button:active {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}

.button:active:after {
  background: transparent;
}

.button:hover:before {
  opacity: 1;
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
</style>
